:root {
    --white-color: #ffffff;
    --black-color: #333333;
    --gray-light-color: #f5f5f5;
    --gray-dark-color: #ddd;
    --blue-color: #007bff;
    --green-color: green;
    --red-color: red;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --text-light-color: #888;
    --primary-color: #333;
    --cancel-color: #b0b0b0;
    --blue-hover-color: #0056b3; 
    --cancel-hover-color: #9c9c9c; 
}