<html>

<head>
    <title>
        Notifications
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assests/css/notification.css">
    <link rel="stylesheet" href="../assests/css/base.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>
                <b>Notifications</b>
            </h1>
            <button class="add-notification">
                Add Notification
            </button>
        </div>
        <div class="section">
            <h2>
                This week
            </h2>
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                </div>
                <div class="content">
                    <p>
                        <strong>
                            Ronaldo
                        </strong>
                        has posted a new course
                    </p>
                    <p class="time">
                        3 days ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action edit">
                        <i class="fas fa-edit">
                        </i>
                    </div>
                    <div class="action reject">
                        <i class="fas fa-times-circle">
                        </i>
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                </div>
                <div class="content">
                    <p>
                        <strong>
                            Phatlam
                        </strong>
                        has posted a new course
                    </p>
                    <p class="time">
                        5 days ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action edit">
                        <i class="fas fa-edit">
                        </i>
                    </div>
                    <div class="action reject">
                        <i class="fas fa-times-circle">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                This month
            </h2>
            <div class="notification">
                <img alt="Profile picture of Elonmusk Nguyen" height="40"
                    src="https://storage.googleapis.com/a1aa/image/QmK9ifEPjpTzY6NaleUUvitg8QtGZ4jqJEiIS423TxQYtpjTA.jpg"
                    width="40" />
                <div class="content">
                    <p>
                        <strong>
                            Elonmusk Nguyen
                        </strong>
                        violated some sensitive words
                    </p>
                    <p class="time">
                        2 weeks ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action notify">
                        <i class="fas fa-bell"></i> 
                    </div>
        
                </div>
            </div>
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                </div>
                <div class="content">
                    <p>
                        <strong>
                            Phatlam
                        </strong>
                        posted a course that violates community standards
                    </p>
                    <p class="time">
                        5 days ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action notify">
                        <i class="fas fa-bell"></i> 
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                This year
            </h2>
            <div class="notification">
                <img alt="Profile picture of Elonmusk Nguyen" height="40"
                    src="https://storage.googleapis.com/a1aa/image/QmK9ifEPjpTzY6NaleUUvitg8QtGZ4jqJEiIS423TxQYtpjTA.jpg"
                    width="40" />
                <div class="content">
                    <p>
                        <strong>
                            Elonmusk Nguyen
                        </strong>
                        has posted a new course
                    </p>
                    <p class="time">
                        2 weeks ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action edit">
                        <i class="fas fa-edit">
                        </i>
                    </div>
                    <div class="action reject">
                        <i class="fas fa-times-circle">
                        </i>
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                </div>
                <div class="content">
                    <p>
                        <strong>
                            Phatlam
                        </strong>
                        has posted a new course
                    </p>
                    <p class="time">
                        5 days ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action edit">
                        <i class="fas fa-edit">
                        </i>
                    </div>
                    <div class="action reject">
                        <i class="fas fa-times-circle">
                        </i>
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                </div>
                <div class="content">
                    <p>
                        <strong>
                            Phatlam
                        </strong>
                        has posted a new course
                    </p>
                    <p class="time">
                        5 days ago
                    </p>
                </div>
                <div class="actions">
                    <div class="action edit">
                        <i class="fas fa-edit">
                        </i>
                    </div>
                    <div class="action reject">
                        <i class="fas fa-times-circle">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>